In [2]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np

## 1. Show Installed Version

In [3]:
pd.__version__

'1.0.1'

In [4]:
pd.show_versions()

C:\Users\ROG\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 45.2.0.post20200210
Cython           : 0.29.14
pytest           : 5.3.5
hypothesis       : 5.5.4
sphinx           : 2.4.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.12.0
pandas_datareader: None
bs4              : 4.8.2
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

## 2. Create Example DataFrame

In [5]:
df = pd.DataFrame({
    'col_one':[100, 200],
    'col_two':[300, 400]
})
df

   col_one  col_two
0      100      300
1      200      400

In [6]:
pd.DataFrame(np.random.rand(4, 8))

,0,1,2,3,4,5,6,7
0,0.351897,0.915463,0.793281,0.712214,0.744946,0.123738,0.823765,0.945691
1,0.441838,0.343626,0.265178,0.034025,0.259753,0.437374,0.612271,0.970429
2,0.599468,0.328811,0.836795,0.883839,0.632911,0.249421,0.345840,0.502368
3,0.624721,0.629931,0.257467,0.480866,0.341860,0.914590,0.004522,0.408093

In [7]:
pd.DataFrame(np.random.rand(4,8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.897741,0.310243,0.026891,0.274464,0.641845,0.950451,0.205234,0.990613
1,0.279824,0.342849,0.720933,0.991954,0.004049,0.978083,0.321995,0.537164
2,0.514271,0.627478,0.812927,0.541791,0.324351,0.540789,0.769697,0.858280
3,0.707570,0.324275,0.364647,0.309971,0.315998,0.825941,0.250667,0.678129

## 3. Rename Columns

In [8]:
df

   col_one  col_two
0      100      300
1      200      400

In [10]:
df = df.rename({
    'col_one':'kolom1',
    'col_two' : 'kolom2'
}, axis='columns')
df

   kolom1  kolom2
0     100     300
1     200     400

In [12]:
df.columns = ['col one', 'col two']
df

   col one  col two
0      100      300
1      200      400

In [13]:
df.columns = df.columns.str.replace(' ', '_')
df

   col_one  col_two
0      100      300
1      200      400